.heading{

    font-size: 23px;
    margin: 0px;
    width: 100%;
    box-shadow: 5px 5px 5px rgb(157, 0, 248);
}

.heading_div{
    float: none;
    background: white;
    padding: 10px;
    border-radius: 20;
    color: black;
    box-shadow: 5px 5px 5px rgb(157, 0, 248);
}

.heading2{

    font-size: 18px;
}

body{
    font-family: 'Sansita Swashed', cursive;
}

.result_para_tag{
    box-shadow: 5px 5px 5px grey;
    font-size: 20px;
    
}

canvas{
    border: 5px solid white;
    border-radius: 20;
    box-shadow: 5px 5px 5px grey;
    margin-top: 150px;
}